
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  background-image:radial-gradient(circle at 8% 31%, #DAFFFC 30%, #c9e2f8 50%,#F9E5FF 90%);
}

.App{
  display: flex;
}
.out{
  position: fixed;
  display: block;
  top:3%;
  left:3%;
}